.hero-container {
    width: 100%;
    height: 100vh;
    /* overflow-x: hidden !important; */
}

@keyframes breath {
    0%   { background-size: 100% auto; }
    50% { background-size: 110% auto; }
    100% { background-size: 100% auto; }
  }
  
.section1 {
    position: relative;
    animation: breath 15s ease-in-out alternate infinite;
    width: 100vw;
    height: 35vh;
    background: url('../../assets/nature2.jpg') center no-repeat;
    background-position: center;
}

.section2 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: lawngreen;
}

.about-container {
    color: white;
}

.site-title {
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    padding-top: 10%;
}

.site-about {
    padding-top: 20px;
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
    width: 25%;
    font-weight: lighter;
}