.navbar {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 10px 40px;
    box-sizing: border-box;
    transition: .5s;    
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
}

.img {
    height: 60px;
    transition: .5s;
    border-radius: 50%;
}

.nav-ul, .ul-links {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.nav-ul li a {
    line-height: 60px;
    color: white;
    padding: 5px 20px;
    text-decoration: none;
    transition: .5s;
    font-size: 1.5vw;
}

.nav-ul li a:hover {
    color: white;
    background: chartreuse;
}

.ul-links li svg {
    padding: 5px 5px 5px 10px;   
    transform: translateY(20%);
    color: white;
}

